/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body {
/*	margin-top: 60px;*/
	background-color: #F6F6F6;
	transition: .1s;
}

h1 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

.border-radius {
	border-radius: 1rem;
}


/* Page Containter */
.container {
	width: 880px;
	margin: 0 auto;
}

@media (max-width: 900px){
	.container {
		width: auto;
	}
}
/* Navigation */
.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 ;
	height: 80px;
	width: 100%;
	justify-content: space-evenly;
	background-color: #E9E9E9;
/*	position: fixed;*/
}

/* Navigation Buttons */
nav a {
 padding: 35px 1rem;
 color: black;
 text-decoration: none;
 transition: 0.3s;
}

/* Navigation Button Animation */
nav a:hover {
	background-color: #024351;
	color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav-active {
	color:#9E9E9E;
}

.nav-active:hover {
	background-color: #012932;
	color: #2196F3;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media(min-width: 900px){
	body {
		margin-top: 75px;
	}
	.navigation {
		top: 0;
		position: fixed;
	}
}

@media(max-width: 900px){
	.navigation {
		display: flex;
		flex-flow: row wrap;
		height: 150px;
	}
	nav{
		margin: 30px 0;
		text-align: center;
		width: 100%;
		break-after: always;
		order: 2;
	}
	nav a {
		padding: 35px 1%;
	}
	.navigation img {
		margin: 20px auto;
		order:1;
	}
}

@media(max-width: 500px){
	.navigation {
		height: auto;
	}
	nav {
		display: flex;
		flex-flow: row wrap;
		margin: 0;
		border-bottom: 1px solid black;
	}
	nav a {
		width: 100%;
		padding: 20px 0;
		border-top: 1px solid black;
	}
}

/* Header Text */
.services-header {
	padding-bottom: 30px;
	border-bottom: 2px solid black;
}

/* Header Image Layout */
.services-header .header-image {
	padding: 30px 0px;
}

@media(max-width: 900px){
	.services-header {
		width: 95%;
		margin: 25px auto;
	}
	.services-header-img {
		width: 100%;
	}
}

/* Main Padding*/
main {
	padding: 30px 0 0;
}

/* Card Layout */
.card-section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	border-bottom: 2px solid black;
}

/* Material Card Design */
.card {
	padding: 20px 35px;
	width: 48%;
	margin-bottom: 50px;
	border-radius: 10px;
	text-align: center;
}

.card-gradient {
	background-image: linear-gradient(to bottom left, #25898A , #024452);
	color: #F4F5F2;
}

/* Space Before Button */
.card p {
	margin-bottom: 10px;
}

/* Material Button Design */
.btn {
	border: none;
	border-radius: 4px;
	padding: 0 16px;
	height: 36px;
	vertical-align: middle;
	text-align: center;
}

.btn-red {
	background-color: #EE5E6C;
	color: white;
}

.btn-blue {
	background-color: #2196F3;
	color: white;
}

@media (max-width: 500px){
	.card {
		width: 100%;
	}
}

/* About Section */
.about-section {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

/* Each side width */
.about-section div {
	width: 45%;
}

/* List style unreset */
.about-section div ul{
	padding: 20px;
	list-style-type: disc; 
  list-style-position: inside; 
}

/* Spacing Bottom for About Section */
.about-section div ul li{
	margin-bottom: 10px;
}



/* Copyright Text */
footer {
	margin: 40px 0;
	text-align: center;
}

/* Home Page Style */

.home-header {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 50px 0;
	border-bottom: 2px solid black;
}

.home-header div {
	align-self: center;
}

.home-header h1 {
	font-size: 4rem;
}

@media(max-width: 900px){
	.home-header{
		width: 95%;
		margin: 0 auto;
	}
	.home-header-img {
		display: none;
	}
	main {
		width: 95%;
		margin: 0 auto;
	}
	.middle-img{
		width: 100%;
	}
}
.features-section {
	display: flex;
	margin: 0 0 30px;
}

.services-section {
	display: flex;
	padding: 20px 0 30px;
	justify-content: space-around;
	border-bottom: 2px solid black;
}

.services-section div {
 width: 30%;
}

@media(max-width: 500px){
	.home-header{
		width: 99%;
		margin: 0 auto;
	}

	.features-section {
		flex-flow: row wrap;
	}

	.features-section div {
		width: 100%;
		margin: 10px 0;
	}

	.services-section {
		flex-flow: row wrap;
	}

	.services-section div {
		width: 100%;
		margin: 10px 0;
	}

	.home-header-img {
		display: none;
	}
	main {
		width: 95%;
		margin: 0 auto;
	}
	.middle-img{
		width: inherit;
	}
}

.contact-section {
	padding: 30px 0 0;
}

.contact-section p {
	margin-bottom: 10px;
}